<div class="fl-overviewPanel">
    <div class="fl-overviewPanel-icon-fluidStar">
        <a class="flc-overviewPanel-toggleControl" href="#"><div class="fl-overviewPanel-toggleText">+</div></a>
    </div>
    <div class="fl-overviewPanel-body fl-overviewPanel-group">
        <div class="fl-overviewPanel-title">
            <h1><span class="flc-overviewPanel-title-begin"></span> <a class="flc-overviewPanel-titleLink" href="#" target="_blank"><span class="flc-overviewPanel-title-linkText"></span></a> <span class="flc-overviewPanel-title-end"></span></h1>
        </div>

        <div class="fl-overviewPanel-contents">
            <span class="flc-overviewPanel-componentName fl-overviewPanel-componentName"></span>
            <div class="flc-overviewPanel-description fl-overviewPanel-description"></div>
            <div class="fl-overviewPanel-showDemoContainer">
                <a class="flc-overviewPanel-showDemo fl-overviewPanel-showDemo" href="#"><span class="flc-overviewPanel-showDemoText"></span></a>
            </div>
            <div class="fl-overviewPanel-instructions">
                <h2><span class="flc-overviewPanel-instructionsHeading"></span></h2>
                <div class="flc-overviewPanel-instructions"></div>
            </div>
        </div>

        <div class="fl-overviewPanel-footer">
            <div class="fl-overviewPanel-links">
                <ul class="fl-centered">
                    <li>
                        <a class="flc-overviewPanel-demoCodeLink" href="#">
                            <div class="fl-overviewPanel-iconContainer fl-centered"><span class="fl-overviewPanel-links-icon fl-overviewPanel-links-icon-code"></span></div>
                            <span class="flc-overviewPanel-demoCodeLinkText fl-overviewPanel-demoCodeLinkText"></span>
                        </a>
                    </li>
                    <li>
                        <a class="flc-overviewPanel-apiLink" href="#">
                            <div class="fl-overviewPanel-iconContainer fl-centered"><span class="fl-overviewPanel-links-icon fl-overviewPanel-links-icon-api"></span></div>
                            <span class="flc-overviewPanel-apiLinkText fl-overviewPanel-apiLinkText"></span>
                        </a>
                    </li>
                    <li>
                        <a class="flc-overviewPanel-designLink" href="#">
                            <div class="fl-overviewPanel-iconContainer fl-centered"><span class="fl-overviewPanel-links-icon fl-overviewPanel-links-icon-design"></span></div>
                                <span class="flc-overviewPanel-designLinkText fl-overviewPanel-designLinkText"></span>
                        </a>
                    </li>
                </ul>
                <div class="fl-overviewPanel-footer-links">
                    <a class="flc-overviewPanel-feedbackLink" href="#"><span class="flc-overviewPanel-feedbackLinkText"></span></a>
                    <a class="flc-overviewPanel-infusionCodeLink" href="#"><span class="flc-overviewPanel-infusionCodeLinkText"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>
